[Unit]
Description=oVirt ImageIO Daemon
# The daemon should only be started if a certificate was rolled out
# Otherwise the daemon startup will fail

[Service]
Type=simple
#Environment=/opt/ovirt-imageio/bin/python
WorkingDirectory=/opt/ovirt-imageio/datamover

#WorkingDirectory=/root/mypython/src

ExecStart=/bin/sh -c '/opt/ovirt-imageio/datamover/venv/bin/python transfer_service_demo.py'
KillSignal=SIGTERM
KillMode=process
Restart=always
# The user and group should be the same as vdsm uses.
User=vdsm
Group=kvm

[Install]
WantedBy=multi-user.target
